.product-page {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.product-container {
    display: flex;
    gap: 40px;
}

.product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-description {
    margin-bottom: 20px;
    flex-grow: 1;
}

.add-to-cart {
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid #00008B;
    align-self: stretch;
}

.add-to-cart:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
}
